<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patients List</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <img src="../../css/logo.jpg" class="mx-auto d-block" >
    <div class="row" style="width: 1000px; padding-left: 200px; padding-right: 50px">
        <a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.getFirstname}"></td>
                <td th:text="${patient.getLastname}"></td>
                <td style="width: 15%" class="text-center">
                    <p style="width: 150px">
                    <a th:href="@{/patient/{id}(id=${patient.patientId})}">View</a>&nbsp;|&nbsp;
                    <a th:href="@{/patient/update/{id}(id=${patient.patientId})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/patient/delete/{id}(id=${patient.patientId})}">Delete</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>