<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Informations</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <img src="../../css/logo.jpg" class="mx-auto d-block" >
    <h1 style="margin-left: 490px">Patient</h1>
    <div style="width: 40%; margin-left: 350px" class="border border-dark">
            <tr th:object="${patient}">

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Id :</label>
                <td th:text="${patient.patientId}"></td>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Firstname :</label>
                    <td th:text="${patient.firstname}"></td>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Lastname :</label>
                <td th:text="${patient.lastname}"></td>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Birthday :</label>
                <td th:text="${patient.birthday}"></td>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Gender :</label>
                <td th:text="${patient.gender}"></td>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Address :</label>
                <td th:text="${patient.address}"></td>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label; font-weight-bold">Phone :</label>
                <td th:text="${patient.phone}"></td>
                </div>
            </tr>
    </div>
    <div style="width: 100%" class="border border-dark">
        <tr th:each="note : ${notes}">
            <div class="form-group">
                <label class="font-weight-bold">Notes :</label>
                <td th:text="${note.commentary}"></td>
            </div>
        </tr>
    </div>
    <div style="width: 20%; padding-top: 20px; padding-left: 10px" class="border border-danger mx-auto d-block">
        <tr th:object="${assessment}">
            <div class="form-group">
                <label class="font-weight-bold col-sm-5" >Risk is :</label>
                <td th:text="${assessment.risk}"></td>
            </div>
        </tr>
    </div>
    <div style="margin-left: 470px; margin-top: 10px">
        <a class="btn btn-primary btn-sm" th:href="@{/patHistory/add/{id}(id=${patient.patientId})}">Add Note</a>
        <a class="btn btn-primary btn-sm" href="/patient/list">Return</a>
    </div>
</div>
</body>
</html>